* {
  font-family: highDesert;
}

//@import ".styles/_variables";
@import "./styles/_styleguide";




/* main styles */
// header
header {
  @include flex-row();    
  @include text-shadow();
  @include header-background();
  img { 
    margin-bottom: 1rem;
    width:  125px;
    height: 130px;
    }      
  h1 {
    @include big-heading();
    margin-bottom: 1rem;
  }
}

// navbar
nav {
  background-color: $flower-medium; 
  @include nice-box-shadow();
  #logo-small {
    width: 35px;
    height: 35px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  #logo-small.visible {
    opacity: 1;
  }
  .dropdown-menu {

    width: 200px;
    position: relative;
    text-align: center;
    background-color: $terpine-light;
    border: solid 2px $flower-light;
    @include nice-box-shadow();
    padding: 2rem;
      a {
        text-decoration: none;
        color: $terpine-dark;
        font-size: 1.25rem;
        font-weight: 500;
        &:hover {
          color: $flower-light;
        }
      }
      .i-tr {
        @include dropDownNavBar();
        top: 0;
        right: 0;
      }
      .i-tl {
        @include dropDownNavBar();
        top: 0;
        left: 0;
      }
      .i-br {
        @include dropDownNavBar();
        bottom: 0;
        right: 0;
      }
      .i-bl {
        @include dropDownNavBar();
        bottom: 0;
        left: 0;
      }
  }

}

// Hero 
#desert-background {
  background-image: url(assets/images/desertBackground.jpg);
  @include background-img();
  background-color: rgba(255, 255, 255, 0.8);
  //padding-top: 1rem;
}

#hero-header {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem; 
  margin-bottom: 1rem;
  #cultivating {
    color: $flower-dark;
  }
  #heat {
    display: inline-block;
    background: linear-gradient(to top, #ff4500, #ff8c00, #ffd700, #ffff00);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px $terpine-dark;
    &:hover {  
      animation: shake 2s;
      animation-iteration-count: infinite;
    }
  }
  #new-mexico {
    color: $flower-medium;
    -webkit-text-stroke: 0.25px $terpine-dark;
  }
}

#hero-section {
  margin-bottom: 2rem;
  #hero-img {
    border: solid 4px $terpine-light;
    border-right: none;
    border-radius: 30px 0 0 30px;
    @include nice-box-shadow();
  }
  #mission-statement {
    background-color: $flower-medium;
    border: solid 4px $terpine-light;
    border-left: none;
    border-radius: 0 30px 30px 0;
    text-align: center;
    @include nice-box-shadow();
    h3 {
      margin: 1rem;
      font-size: 2rem;
    }
    i {
      color: $terpine-dark;
      -webkit-text-stroke: 1px $flower-light;
    }
  }
}

// Sub-Hero
.sub-hero {  
  text-align: center;
  h2 {
    color: $flower-dark;
    margin: 2rem;
    @include big-heading();
  }
}

.shop {
  margin: 0px; // whitespace!!!!!!!!
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color : $terpine-dark;
  transition: transform 1s;
}


// Carousel start
#carousel-background {
  padding: 0;
  background-image: url(assets/images/weedDewDrop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(115, 129, 42, 1.0);
  
  .shop-container {
    background-color: $flower-medium;
    @include flex-row();
    .shop-card {
      @include flex-row();
      width: 600px;
      height: 300px;
      margin: 2rem; 
      border: solid 4px $purple-4;
      border-radius: 5%;
      background-color: rgba($color: #f3f3f3, $alpha: 0.2);
      text-align: center;
      transition: all ease-in-out 0.5s;
      h3 {
        margin: 2rem;
        color: $purple-2;
        font-weight: 400;
        border: 1px solid rgba($color: $purple-2, $alpha: 1.0);
        border-radius: 10px;
        background-color: $terpine-light; 
        @include nice-box-shadow();
      }
      &:hover {
        border: solid 4px $purple-4;
        transform: scale(1.115);
        @include nice-box-shadow();
      }
      .shop-img {
        height: 250px;
        width: 250px;
      }
    }
  }
  
  .previous-btn:hover{
    opacity: 1;
  }
  .next-btn:hover{
    opacity: 1;
  }
  
  .previous-btn {
    position: absolute;
    left: 0;
    @include nav-buttons();
  }
  .next-btn {
    position: absolute;
    right: 0;
    @include nav-buttons();
  }
  
    .carousel{
    //background-color: $flower-medium;
    width: 100%;
    overflow: hidden;
    height: 450px;
    position: relative;
    
  }.carousel ul{
    position: relative;
    list-style: none;
    list-style-type: none;
    height: 250px;
    padding: 1rem;
  }.carousel ul li{
    position: absolute;
    height: 250px;
    width: 250px;
    margin: 1rem;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 25px;
  }
   
  .category {
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    height: 275px;
    padding: 1rem;
    margin: 1rem 1rem rem 1rem;
    border: solid 4px $purple-4;
    border-radius: 50%;
    @include nice-box-shadow();
    background-color: #f3f3f3;
    text-align: center;
    transition: all ease-in-out 0.5s;
    filter: blur(3px);
    h3 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      color: $purple-2;
      font-weight: 400;
      border: 1px solid rgba($color: $purple-2, $alpha: 1.0);
      border-radius: 10px;
      @include nice-box-shadow();
      background-color: $terpine-light; 
    }
    &:hover {
      border: solid 4px $purple-4;
      @include nice-box-shadow();
      transform: scale(1.115);
      filter: blur(0px);
      h3 {
        background-color: #f3f3f3;
        font-size: 2rem; 
        font-weight: 700;
        color: $purple-2;
        border: 1px solid rgba($color: $purple-2, $alpha: 1.0);
        border-radius: 10px;
        @include nice-box-shadow();
      }
    }
  }
  .category-img {
    height: 230px;
    width: 230px;
  }
  
  .scroll-buttons {
    height: 150px;
  }
}
  
  
  // carousel end
  
  #second-background {
    background-image: url(assets/images/weeeeeeeeeeed.png);
    @include background-img();
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: $terpine-dark;
    padding-top: 2rem;
    height: 100%;
    #location-icon {
      position: relative;
      i {
        position: absolute;   
        right: 0;
        top: .5;
      }
    }
    #location {
      color: $blue-2;
      text-align: right;
      p {
        font-size: 1rem;
        color: #0d0d0d;
        @include text-shadow();
      }
    }
    #sustainable {
      @include text-shadow();
      color: $flower-medium;
      text-align: left;
      p {
        font-size: 1rem;
        color: #0d0d0d;
      }
    }
    #medical {
      position: relative;
      i {
        position: absolute;
        bottom: 0.5;
        right: 0;
      }
    }
    .medical-text {
      color: $purple-7;
      text-align: right;
       p {
        font-size: 1rem;
        color: #0d0d0d;
        @include text-shadow();
       }
    }
    h3 {
      font-weight: 700;
      font-size: 3rem;
      
    }
    
    
    i {
      &.fa-leaf {
        color: $flower-medium;
      }
      &.fa-notes-medical {
        color: $purple-7;
      }
      &.fa-earth-europe {
        color: $blue-2;
      }
    }
}

#footer-background {
  background-image: url(assets/images/weedDewDrop.png);
  @include background-img();
  background-color: rgba(#0d0d0d, 0.7);
  height: auto;
}

footer {
  padding: 2rem;
  margin-top: 0;
  border-top: solid 4px $terpine-light;  
  @include nice-box-shadow();
  font-size: 1.5rem;
  text-align: center;
  color: $green-4;
  a {
    color: $flower-light;
    text-decoration: none;
  }
  p {
    //margin-top: 4rem;
    color: $gray-4;
    font-size: 12px;
  }
  h3 {
    color: $flower-medium;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .table-container {
    display: flex;
    flex-direction: column;
  }
  .form-group {
    @include flex-col();
    margin: 1rem 3rem 1rem 3rem; 

    input {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 100%;

      &:focus {
        outline: none;
        box-shadow: 0 0 5px #ccc;
      }
    }
    label {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .submit-btn {
    padding: 10px 20px;
    background-color: $flower-medium;
    color: rgba($color: $purple-2, $alpha: 1.0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #0069d9;
    }
  }
  #hours-operation {
    padding-left: 1rem;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-bottom: 20px;
    color: $flower-light;
    caption {
      color: $flower-light;
    }
    i {
      color: $terpine-dark;
      -webkit-text-stroke: 1px $flower-light;
    }
  }
  .social-media {
   color: $terpine-light;
  }

  .footer-links {
    ul {
      text-decoration: none;
      color: $flower-light;
      
      list-style: none;
    }
  }
}









.scale-up {
  transform: scale(1.25);
  filter: blur(0px);
}

// Large Screens (Bootstrap-lg)
@media screen and (min-width: 993px) and (max-width: 1200px) {
  #hero-section {
    
    #hero-img {
      border-bottom: none;
      border-radius: 15px 15px 0 0px;
      border-right: 4px solid $terpine-light;
    }
    
    #mission-statement {
      border-left: 4px solid $terpine-light;
      border-top: none;
      border-radius: 0 0 15px 15px;
    }
  }
  footer {
    font-size: 1rem;
    margin-top: 0;
    p {
      //margin-top: 4rem;
      color: $gray-4;
      font-size: 12px;
    }
    h3 {
      margin-bottom: 0rem;
    }
    .form-group {
      @include flex-col();
      margin: 1rem 1rem 2rem 1rem; 
      input {
        margin: 1rem;
        
      }
    }
    #hours-operation {
      font-size: 1rem;
      color: $flower-light;
    }
    

  }

}

// Medium Screen (Bootstrap-md)
@media screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    padding: 0;
  }


  #hero-section {
    
    #hero-img {
      border-bottom: none;
      border-radius: 15px 15px 0 0px;
      border-right: 4px solid $terpine-light;
    }
    
    #mission-statement {
      border-left: 4px solid $terpine-light;
      border-top: none;
      border-radius: 0 0 15px 15px;
    }
  }

  #second-background {
    
    #location {
      //color: $blue-2;
      text-align: left;
      text-shadow: none;
    }
    #sustainable {
      text-shadow: none;
      text-align: left;
      
    }
    #medical {
      text-shadow: none;
      text-align: left;
      
    }
    .medical-text {
      text-align: left;
    }
      
  }

  footer {
    font-size: 1rem;
    margin-top: 0;
    p {
      //margin-top: 4rem;
      color: $gray-4;
      font-size: 10px;
    }
    h3 {
      margin-bottom: 0rem;
    }
    .form-group {
      @include flex-col();
      margin: 1rem 1rem 2rem 1rem; 
      input {
        margin: 1rem;
        
      }
    }
    #hours-operation {
      font-size: 1rem;
      color: $flower-light;
    }
    

  }
    
}



// Small Screen (Bootstrap-sm)
@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
  nav #brand-img {
    width: 45px;
    height: 45px;
  }


  #hero-section {
    
    #hero-img {
      border-bottom: none;
      border-radius: 15px 15px 0 0px;
      border-right: 4px solid $terpine-light;
    }
    
    #mission-statement {
      border-left: 4px solid $terpine-light;
      border-top: none;
      border-radius: 0 0 15px 15px;
    }
  }

  #second-background {
    
    #location {
      //color: $blue-2;
      text-align: left;
      text-shadow: none;
    }
    #sustainable {
      text-shadow: none;
      text-align: left;
      
    }
    #medical {
      text-shadow: none;
      text-align: left;
      
    }
    .medical-text {
      text-align: left;
    }
      
  }

  footer {
    font-size: 1rem;
    margin-top: 0;
    p {
      //margin-top: 4rem;
      color: $gray-4;
      font-size: 10px;
    }
    h3 {
      margin-bottom: 0rem;
    }
    .form-group {
      @include flex-col();
      margin: 1rem 1rem 2rem 1rem; 
      input {
        margin: 1rem;
        
      }
    }
    #hours-operation {
      font-size: 1rem;
      color: $flower-light;
    }
    

  }
}



// Extra Small (Bootstrap-xs)
@media screen and (max-width: 576px) {

}
