* {
  font-family: highDesert;
}

/**
 * TODO : Font sizing for all bootstrap breakpoints.
 * TODO : Color pallette mixins, same for shadows, & hovers.

 * ? : ...

 * ! : ...
*/
/* color picker */
/* Colors */
/* Fonts */
@font-face {
  font-family: HighDesert;
  src: url(assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
/* Margins and paddings */
/* Buttons */
/* Forms */
/* Shadows */
/* pulled a list of popular colors for dispensaries for reference */
/* Mixins */
/* Keyframes */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
/* main styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
  background-image: url(assets/images/weedDewDrop.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}
header img {
  margin-bottom: 1rem;
  width: 125px;
  height: 130px;
}
header h1 {
  color: #677e34;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

nav {
  background-color: #abbe4b;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
nav #logo-small {
  width: 35px;
  height: 35px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
nav #logo-small.visible {
  opacity: 1;
}
nav .dropdown-menu {
  width: 200px;
  position: relative;
  text-align: center;
  background-color: #dea467;
  border: solid 2px #d1df93;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  padding: 2rem;
}
nav .dropdown-menu a {
  text-decoration: none;
  color: #a3583a;
  font-size: 1.25rem;
  font-weight: 500;
}
nav .dropdown-menu a:hover {
  color: #d1df93;
}
nav i {
  color: #d1df93;
  -webkit-text-stroke: 1px #a3583a;
}

#desert-background {
  background-image: url(assets/images/desertBackground.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: rgba(255, 255, 255, 0.8);
}

#hero-header {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#hero-header .cultivating {
  color: #677e34;
}
#hero-header .heat {
  display: inline-block;
  background: linear-gradient(to top, #ff4500, #ff8c00, #ffd700, #ffff00);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px #a3583a;
}
#hero-header .heat:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}
#hero-header #new-mexico {
  color: #abbe4b;
  -webkit-text-stroke: 0.25px #a3583a;
}

#hero-section {
  margin-bottom: 2rem;
}
#hero-section #hero-img {
  border: solid 4px #dea467;
  border-right: none;
  border-radius: 30px 0 0 30px;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
#hero-section #mission-statement {
  background-color: #abbe4b;
  border: solid 4px #dea467;
  border-left: none;
  border-radius: 0 30px 30px 0;
  text-align: center;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
#hero-section #mission-statement h3 {
  margin: 1rem;
  font-size: 2rem;
}
#hero-section #mission-statement i {
  color: #a3583a;
  -webkit-text-stroke: 1px #d1df93;
}

.sub-hero {
  text-align: center;
}
.sub-hero h2 {
  color: #677e34;
  margin: 2rem;
  color: #677e34;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
}

.shop {
  margin: 0px;
  padding: 3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #a3583a;
  transition: transform 1s;
}

#carousel-background {
  padding: 0;
  background-image: url(assets/images/weedDewDrop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(115, 129, 42);
}
#carousel-background .shop-container {
  background-color: #abbe4b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#carousel-background .shop-container .shop-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 300px;
  margin: 2rem;
  border: solid 4px #8E24AA;
  border-radius: 5%;
  background-color: rgba(243, 243, 243, 0.2);
  text-align: center;
  transition: all ease-in-out 0.5s;
}
#carousel-background .shop-container .shop-card h3 {
  margin: 2rem;
  color: #6A1B9A;
  font-weight: 400;
  border: 1px solid #6a1b9a;
  border-radius: 10px;
  background-color: #dea467;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
#carousel-background .shop-container .shop-card:hover {
  border: solid 4px #8E24AA;
  transform: scale(1.115);
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
#carousel-background .shop-container .shop-card .shop-img {
  height: 250px;
  width: 250px;
}
#carousel-background .previous-btn:hover {
  opacity: 1;
}
#carousel-background .next-btn:hover {
  opacity: 1;
}
#carousel-background .previous-btn {
  position: absolute;
  left: 0;
  margin-top: 140px;
  background-color: rgba(171, 190, 75, 0);
  z-index: 2;
  border: none;
  color: #8E24AA;
  opacity: 0.5;
}
#carousel-background .next-btn {
  position: absolute;
  right: 0;
  margin-top: 140px;
  background-color: rgba(171, 190, 75, 0);
  z-index: 2;
  border: none;
  color: #8E24AA;
  opacity: 0.5;
}
#carousel-background .carousel {
  width: 100%;
  overflow: hidden;
  height: 450px;
  position: relative;
}
#carousel-background .carousel ul {
  position: relative;
  list-style: none;
  list-style-type: none;
  height: 250px;
  padding: 1rem;
}
#carousel-background .carousel ul li {
  position: absolute;
  height: 250px;
  width: 250px;
  margin: 1rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 25px;
}
#carousel-background .category {
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 275px;
  padding: 1rem;
  margin: 1rem 1rem rem 1rem;
  border: solid 4px #8E24AA;
  border-radius: 50%;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  background-color: #f3f3f3;
  text-align: center;
  transition: all ease-in-out 0.5s;
  filter: blur(3px);
}
#carousel-background .category h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #6A1B9A;
  font-weight: 400;
  border: 1px solid #6a1b9a;
  border-radius: 10px;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  background-color: #dea467;
}
#carousel-background .category:hover {
  border: solid 4px #8E24AA;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  transform: scale(1.115);
  filter: blur(0px);
}
#carousel-background .category:hover h3 {
  background-color: #f3f3f3;
  font-size: 2rem;
  font-weight: 700;
  color: #6A1B9A;
  border: 1px solid #6a1b9a;
  border-radius: 10px;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
#carousel-background .category-img {
  height: 230px;
  width: 230px;
}
#carousel-background .scroll-buttons {
  height: 150px;
}

#second-background {
  background-image: url(assets/images/weeeeeeeeeeed.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: #a3583a;
  padding-top: 2rem;
  height: 100%;
}
#second-background #location-icon {
  position: relative;
}
#second-background #location-icon i {
  position: absolute;
  right: 0;
  top: 0.5;
}
#second-background #location {
  color: #1565C0;
  text-align: right;
}
#second-background #location p {
  font-size: 1rem;
  color: #0d0d0d;
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
}
#second-background #sustainable {
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
  color: #abbe4b;
  text-align: left;
}
#second-background #sustainable p {
  font-size: 1rem;
  color: #0d0d0d;
}
#second-background #medical {
  position: relative;
}
#second-background #medical i {
  position: absolute;
  bottom: 0.5;
  right: 0;
}
#second-background .medical-text {
  color: #BA68C8;
  text-align: right;
}
#second-background .medical-text p {
  font-size: 1rem;
  color: #0d0d0d;
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
}
#second-background h3 {
  font-weight: 700;
  font-size: 3rem;
}
#second-background i.fa-leaf {
  color: #abbe4b;
}
#second-background i.fa-notes-medical {
  color: #BA68C8;
}
#second-background i.fa-earth-europe {
  color: #1565C0;
}

#footer-background {
  background-image: url(assets/images/weedDewDrop.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: rgba(13, 13, 13, 0.7);
  height: auto;
}

footer {
  padding: 2rem;
  margin-top: 0;
  border-top: solid 4px #dea467;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  font-size: 1.5rem;
  text-align: center;
  color: #43A047;
}
footer a {
  color: #d1df93;
  text-decoration: none;
}
footer p {
  color: #757575;
  font-size: 12px;
}
footer h3 {
  color: #abbe4b;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .table-container {
  display: flex;
  flex-direction: column;
}
footer .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 3rem 1rem 3rem;
}
footer .form-group input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}
footer .form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}
footer .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
footer .submit-btn {
  padding: 10px 20px;
  background-color: #abbe4b;
  color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer .submit-btn:hover {
  background-color: #0069d9;
}
footer #hours-operation {
  padding-left: 1rem;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #d1df93;
}
footer #hours-operation caption {
  color: #d1df93;
}
footer #hours-operation i {
  color: #a3583a;
  -webkit-text-stroke: 1px #d1df93;
}
footer .social-media {
  color: #dea467;
}
footer .footer-links ul {
  text-decoration: none;
  color: #d1df93;
  list-style: none;
}

.scale-up {
  transform: scale(1.25);
  filter: blur(0px);
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  #hero-section #hero-img {
    border-bottom: none;
    border-radius: 15px 15px 0 0px;
    border-right: 4px solid #dea467;
  }
  #hero-section #mission-statement {
    border-left: 4px solid #dea467;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
  footer {
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 12px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    padding: 0;
  }
  #hero-section #hero-img {
    border-bottom: none;
    border-radius: 15px 15px 0 0px;
    border-right: 4px solid #dea467;
  }
  #hero-section #mission-statement {
    border-left: 4px solid #dea467;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
  #second-background #location {
    text-align: left;
    text-shadow: none;
  }
  #second-background #sustainable {
    text-shadow: none;
    text-align: left;
  }
  #second-background #medical {
    text-shadow: none;
    text-align: left;
  }
  #second-background .medical-text {
    text-align: left;
  }
  footer {
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 10px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: 2rem;
  }
  nav .dropdown {
    position: relative;
  }
  .navbar-toggler {
    border: 1px solid #8E24AA;
    height: 45px;
  }
  .navbar {
    padding: 1rem;
  }
  nav #brand-img {
    width: 55px;
    height: 55px;
  }
  #hero-section #hero-img {
    border: solid 4px #8E24AA;
    border-bottom: none;
    border-radius: 15px 15px 0 0px;
    border-right: 4px solid #8E24AA;
  }
  #hero-section #mission-statement {
    border: solid 4px #8E24AA;
    border-left: 4px solid #8E24AA;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
  #second-background #location {
    text-align: left;
    text-shadow: none;
  }
  #second-background #sustainable {
    text-shadow: none;
    text-align: left;
  }
  #second-background #medical {
    text-shadow: none;
    text-align: left;
  }
  #second-background .medical-text {
    text-align: left;
  }
  footer {
    border-top: 4px solid #8E24AA;
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 10px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
  #mobile-header {
    font-size: rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
    background-image: url(assets/images/weedDewDrop.png);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -44px;
  }
  #mobile-header img {
    margin-bottom: 1rem;
    width: 125px;
    height: 130px;
  }
  footer {
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 10px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
}
@media screen and (max-width: 576px) {
  nav {
    width: 100%;
  }
  nav h1 {
    font-size: 2rem;
  }
  nav .dropdown {
    position: relative;
  }
  .navbar-toggler {
    border: 1px solid #8E24AA;
    height: 45px;
  }
  .navbar {
    padding: 1rem;
  }
  nav #brand-img {
    width: 55px;
    height: 55px;
  }
  #hero-section #hero-img {
    border: solid 4px #8E24AA;
    border-bottom: none;
    border-radius: 15px 15px 0 0px;
    border-right: 4px solid #8E24AA;
  }
  #hero-section #mission-statement {
    border: solid 4px #8E24AA;
    border-left: 4px solid #8E24AA;
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
  #hero-section #mission-statement h3 {
    font-size: 1.5rem;
  }
  #second-background #location {
    text-align: left;
    text-shadow: none;
  }
  #second-background #sustainable {
    text-shadow: none;
    text-align: left;
  }
  #second-background #medical {
    text-shadow: none;
    text-align: left;
  }
  #second-background .medical-text {
    text-align: left;
  }
  footer {
    border-top: 4px solid #8E24AA;
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 10px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
  #mobile-header {
    font-size: rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
    background-image: url(assets/images/weedDewDrop.png);
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -44px;
  }
  #mobile-header img {
    margin-bottom: 1rem;
    width: 125px;
    height: 130px;
  }
  footer {
    border-top: 4px solid #8E24AA;
    font-size: 1rem;
    margin-top: 0;
  }
  footer p {
    color: #757575;
    font-size: 10px;
  }
  footer h3 {
    margin-bottom: 0rem;
  }
  footer .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 1rem 2rem 1rem;
  }
  footer .form-group input {
    margin: 1rem;
  }
  footer #hours-operation {
    font-size: 1rem;
    color: #d1df93;
  }
}/*# sourceMappingURL=styles.css.map */