/**
* TODO : First fun task IMO would be to define the styleGuide.

* ? : I was thinking maybe a light and dark for primary, and a color palette comprised of the rasta colors. Maybe different accent colors for buttons etc. 

* ! We should each have our own branch per section before we actually build anything.
*/
/**
 * TODO : Font sizing for all bootstrap breakpoints.
 * TODO : Color pallette mixins, same for shadows, & hovers.

 * ? : ...

 * ! : ...
*/
/* color picker */
/* Colors */
/* Fonts */
@font-face {
  font-family: HighDesert;
  src: url(assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
/* Margins and paddings */
/* Buttons */
/* Forms */
/* Shadows */
/* pulled a list of popular colors for dispensaries for reference */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-1px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
header {
  color: #677e34;
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
  background-image: url(assets/images/weedDewDrop.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
header header img {
  border: 2px solid #a3583a;
  color: #a3583a;
  width: 50px;
  height: 50px;
}
header h1 {
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
  font-family: HighDesert;
  margin-bottom: 1rem;
}
header #logo {
  margin-bottom: 1rem;
  width: 125px;
  height: 130px;
}

nav {
  background-color: #abbe4b;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
}
nav nav img {
  width: 30px;
  height: 30px;
}
nav #logo-small {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
nav #logo-small.visible {
  opacity: 1;
}

#desert-background {
  background-image: url(assets/images/desertBackground.jpg);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

#hero-header {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: highDesert;
}
#hero-header #cultivating {
  color: #677e34;
}
#hero-header #heat {
  display: inline-block;
  background: linear-gradient(to top, #ff4500, #ff8c00, #ffd700, #ffff00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 0.5px #a3583a;
}
#hero-header #heat:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}
#hero-header #new-mexico {
  color: #abbe4b;
  -webkit-text-stroke: 0.25px #a3583a;
}

#hero-section {
  margin-bottom: 2rem;
}
#hero-section #hero-img {
  margin: 0;
  border: solid 4px #dea467;
  border-right: none;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  border-radius: 30px 0 0 30px;
}
#hero-section #mission-statement {
  background-color: #abbe4b;
  border: solid 4px #dea467;
  border-left: none;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  margin: 0;
  font-family: highDesert;
  border-radius: 0 30px 30px 0;
}
#hero-section #mission-statement h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}
#hero-section #mission-statement img {
  border: solid 2px #8E24AA;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  border-radius: 30px;
}
#hero-section #mission-statement i {
  color: #a3583a;
  -webkit-text-stroke: 1px #d1df93;
}

.sub-hero {
  font-family: highDesert;
  text-align: center;
}
.sub-hero h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #677e34;
}

.table-container {
  display: flex;
  flex-direction: column;
}

i.fa-leaf {
  color: #abbe4b;
}
i.fa-notes-medical {
  color: #BA68C8;
}
i.fa-earth-europe {
  color: #1565C0;
}

.nav-logo {
  width: 35px;
  height: 40px;
}

.social-media {
  position: relative;
  height: 200px;
}
.social-media i {
  position: absolute;
}
.social-media i.fa-instagram {
  top: 5;
  left: 0;
  color: #dea467;
}
.social-media i.fa-twitter {
  bottom: 0;
  right: 0;
  color: #dea467;
}

#location-icon {
  position: relative;
}
#location-icon i {
  position: absolute;
  right: 0;
  top: 0.5;
}

#hours-operation {
  padding-left: 1rem;
  width: auto;
  height: auto;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #d1df93;
}
#hours-operation caption {
  color: #d1df93;
}
#hours-operation i {
  color: #a3583a;
  -webkit-text-stroke: 1px #d1df93;
}

.card-item {
  flex: 0 0 250px;
  border: solid 3px #1B5E20;
  background-color: #abbe4b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px 0 10px 0;
  margin: 0.625rem;
}

#flower, #edibles, #concentrates, #cartridges, #pre-rolls, #catagory {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

#map {
  border-right: solid 2px gray;
}

#green-bar {
  background-color: #abbe4b;
}

#carousels {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #abbe4b;
  width: 100%;
  height: 400px;
  margin-bottom: 3rem;
}
#carousels h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #6A1B9A;
}

.carousels-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.category {
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  height: 275px;
  padding: 1rem;
  margin: 1rem 1rem 2rem 1rem;
  border: solid 4px #8E24AA;
  border-radius: 50%;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  background-color: #f3f3f3;
  text-align: center;
}
.category h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: highDesert;
  color: #6A1B9A;
  font-weight: 400;
  border: 1px solid #6a1b9a;
  border-radius: 10px;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  background-color: #dea467;
}

#medical {
  position: relative;
}
#medical i {
  position: absolute;
  bottom: 0.5;
  right: 0;
}

.medical-text {
  text-align: right;
  font-family: highDesert;
  font-size: 1rem;
}

#location {
  text-align: right;
  font-family: highDesert;
  font-size: 1rem;
}

#sustainable {
  text-align: left;
  font-family: highDesert;
  font-size: 1rem;
}

#example {
  background-color: #abbe4b;
  border: none;
}

.category-img {
  height: 230px;
  width: 230px;
}

.shop {
  margin: 0;
  padding: 3rem;
  text-align: center;
  font-size: 2rem;
  font-family: highDesert;
  font-weight: 600;
  color: #a3583a;
}

.scroll-buttons {
  height: 150px;
}

#footer-background {
  background-image: url(assets/images/weedDewDrop.png);
  background-color: rgba(13, 13, 13, 0.7);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

footer {
  padding: 1rem;
  margin-top: 0;
  border-top: solid 4px #dea467;
  box-shadow: 0 16px 32px rgba(163, 88, 58, 0.2);
  font-family: highDesert;
  font-size: 1.5rem;
  text-align: center;
  color: #43A047;
}
footer a {
  color: #a3583a;
}
footer p {
  margin-top: 4rem;
  color: #757575;
  font-size: 12px;
}
footer h3 {
  color: #abbe4b;
  font-weight: 600;
  margin-bottom: 20px;
}
footer .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
footer .form-group input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%;
}
footer .form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #ccc;
}
footer .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}
footer .submit-btn {
  padding: 10px 20px;
  background-color: #abbe4b;
  color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer .submit-btn:hover {
  background-color: #0069d9;
}

@media screen and (max-width: 480px) {
  #brand-img {
    border: 1px solid #dea467;
    border-radius: 10px;
    width: 40px;
    height: 45px;
  }
  nav {
    background-color: #a3583a;
  }
  nav .navbar-toggler {
    background-color: #d1df93;
  }
}/*# sourceMappingURL=styles.css.map */