/* color picker */
$terpine-light: #dea467;
$terpine-dark: #a3583a;
$flower-light: #d1df93;
$flower-medium: #abbe4b;
$flower-dark: #677e34;

/* Font */
@font-face {
  font-family: HighDesert;
  src: url(assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

/* Colors */
$green-4: #43A047;
$purple-2: #6A1B9A;
$purple-4: #8E24AA;
$purple-7: #BA68C8;
$blue-2: #1565C0;
$gray-4: #757575;

/* Mixins */
@mixin text-shadow {
  text-shadow: 2px 2px 0 rgba(163, 88, 58, 0.2);
}
@mixin nice-box-shadow {
  box-shadow: 
  0 16px 32px rgba(163, 88, 58, 0.2);
}
@mixin  header-background {
  background-image: url(assets/images/weedDewDrop.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin background-img {  
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin big-heading {
  color: $flower-dark;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 600;
}
@mixin nav-buttons {
  margin-top: 140px;
  background-color: rgba($color: $flower-medium, $alpha: 0.0);
  z-index: 2;
  border: none;
  color: $purple-4;
  opacity: 0.5;
}

/* Keyframes */
@keyframes shake {
  0% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-1px); }
  20%, 40%, 60%, 80% { transform: translateX(1px); }
  100% { transform: translateX(0); }
}